/* Write your CSS here */

.bg-container {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.icon {
  height: 30px;
  width: 20px;
}

/* .list-container{


}

. */
